* {
   font-family: "padauk";
}

a {
   text-decoration: none;
   color: grey;
}

.para {
   text-align: justify;
   line-height: 30px;
}

.loadingBox {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: 1000;
   transform: translate(-100px, -75px)
}

.loadingBox>img {
   width: 200px;
   height: 150px;
}

.fixHeight {
   min-height: 500px;
}
.parafontsize{
   font-size:14px;
   line-height:28px;
}
.titlefontsize{
   font-size:16px;
   font-weight: bold;
}
.hotnews > p{
   text-indent: 45px;
   margin-top:25px;
   font-size:14px;
   line-height:28px;
}